# OS metadata files
.DS_Store
Thumbs.db
ehthumbs.db

# IDE and Editor configs
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.project
.classpath
.settings/

# Node/npm logs or packages (in case npm dependencies are used later)
node_modules/
package-lock.json
yarn.lock
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Local environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
